* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background: #f3f3f3;
    height: 100%;
}

.container {
    margin: 6rem auto 0 auto;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 0px #666666;
    border: 1px solid rgba(0,0,0,0.1);
    max-width: 600px;
    
}

.cima {
    background: #fff;
    padding: 3rem 3rem 2rem 3rem;
    border-radius: 6px 6px 0 0;
}

.baixo {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}


.sobre {
    color: #fff;
    background: #31c29e;
    padding: 2.5rem;
    border-radius: 0 0 6px 0;
}

.precos {

    color: #fff;
    background: #28a384;
    padding: 2.5rem;
    border-radius: 0 0 0 6px;
    
}

.footer{
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 1rem 0 1rem 0;
}

.footer .coracao{
    color: red;
}

@media only screen and (max-width: 400px){
    .baixo {grid-template-columns: 1fr;}
    .footer{position: relative;}
}

@media only screen and (max-height: 620px){
    .footer{position: relative;}
}

.join {
    margin-bottom: 1.3rem;
    color:#28a384;
}

.sub-title1{
    margin-bottom: 1rem;
}

.preco-flex{
    display: flex;
    gap: 0.7rem;
    align-items: center;
    flex-wrap: wrap;
}

.subscricao{
    margin-bottom: 1.5rem;
}

.reais{
    font-size: 26px;
}

.por-mes{
    color: rgba(255,255,255,0.5);
}

.full-acess{
    border-bottom: 1rem;
}

.btn-sign{
    background: #adff2f;
    border: 2px solid #adff2f;
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 5px;
    width: 100%;
    transition-duration: 0.5s;
    color: #000;
    cursor: pointer;
    margin-top: 1.3rem;
    text-align: center;
}

.btn-sign:hover{
    background: #8dd126;
    border: 2px solid #8dd126;
    color: #000;
}

.sobre1{
    margin-bottom: 1.5rem;
}

.sobre-text{
    line-height: 1.5;
}